In [1]:
print("Hello World!")

Hello World!

In [2]:
a=10
print(type(a))

<class 'int'>

In [3]:
a=int(input())
b=int(input())
print(a+b)

10
20
30

In [4]:
a=int(input())
if(a%9==0):
    print("Recursive sum=9")
else:
    print("Recursive sum=",a%9)

1234
Recursive sum= 1

In [5]:
a=100
p=30
print(a//p,a%p)

3 10

In [6]:
2**5

32

In [7]:
2|3

3

In [8]:
2&3

2

In [9]:
a=int(input())
b=int(input())
a*b

2
7

14

In [10]:
#Russian Peasant
a=int(input())
b=int(input())
suming=0
while(b!=0):
    if(b%2==1):
        suming+=a
    a*=2
    b=b//2
print(suming)

20
10
200

# String

In [11]:
s='Kamal'
print(s,type(s))
print(s[0])
print(s[-1])
print(s[0:3],s[:3],s[:])
print(s[::2])
print(s[::-1])
print(s[::-2])
print(s[3::-1])

Kamal <class 'str'>
K
l
Kam Kam Kamal
Kml
lamaK
lmK
amaK

In [12]:
a=int(input())
ast="*"
for i in range(0,a+1):
    print(i*ast)

9

*
**
***
****
*****
******
*******
********
*********

In [13]:
a=int(input())
ast="*"
for i in range(a,-1,-1):
    print(i*ast)

4
****
***
**
*

# List

In [14]:
s=[0,2,4,6,8,10,12,14,16,18,20]
print(s,type(s))
print(s[0])
print(s[-1])
print(s[0:3],s[:3],s[:])
print(s[::2])
print(s[::-1])
print(s[::-2])
print(s[3::-1])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20] <class 'list'>
0
20
[0, 2, 4] [0, 2, 4] [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[0, 4, 8, 12, 16, 20]
[20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]
[20, 16, 12, 8, 4, 0]
[6, 4, 2, 0]

In [15]:
l=list()
n=int(input())
for i in range(1,n+1):
    l.append(i*10)
print(l)

5
[10, 20, 30, 40, 50]

In [16]:
#Replace 1 element with many elements
l1=[10,20,30,40,50]
l2=[1,2,3]
l1[3:]=l2
print(l1)

[10, 20, 30, 1, 2, 3]

In [17]:
l1=[10,20,30,40,50]
l2=[1,2,3]
l1[4:4]=l2
print(l1)

[10, 20, 30, 40, 1, 2, 3, 50]

# Tuple

In [18]:
l1=(10,20,30,40,50)
l2=(1,2,3)
print(l1+l2)

(10, 20, 30, 40, 50, 1, 2, 3)

# Control Statement

In [19]:
a,b=int(input()),int(input())
maxinum=a if a>b else b
print(maxinum,"is the maximum")

1587
1588
1588 is the maximum

In [21]:
a,b,c=float(input()),float(input()),float(input())
if(a==b==c):
    print("Equilateral triangle")
elif(a==b or b==c or a==c):
    print("Isoceles triangle")
else:
    print("Scalene triangle")

100
47
95
Scalene triangle

In [22]:
n = 5
for i in range(1,n+1):
    for j in range(1,11):
        print(i*j,end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50

In [23]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,n):
        if(j%2==0):
            print('0')
        else:
            print('1')

8
1
0
1
0
1
0
1
1
0
1
0
1
0
1
1
0
1
0
1
0
1
1
0
1
0
1
0
1
1
0
1
0
1
0
1
1
0
1
0
1
0
1
1
0
1
0
1
0
1
1
0
1
0
1
0
1

In [24]:
n=int(input())
s=''
for i in range(n):
    if i%2==0:
        s+='1'
    else:
        s+='0'
    print(s[::-1])

3
1
01
101

In [25]:
l=[2,4,6,8,10,12]
for i in l:
    if(i%2==1):
        print("Odd")
        break
else:
    print("Even")

Even

In [26]:
l=eval(input())
for i in l:
    if (i%2==0):
        print("Even")
        break
else:
    print("Odd")

[1,3,5,7,9]
Odd

In [27]:
n=int(input())
for i in range(2,n):
    if (n%i==0):
        print("Composite number")
        break
else:
    print("Prime number")

7
Prime number

In [28]:
n=int(input())
l=[7*x for x in range(1,n+1)]
print(l)

6
[7, 14, 21, 28, 35, 42]

In [29]:
l=[int(x) for x in input().split()]
print(l)

1 2 3 4 5
[1, 2, 3, 4, 5]

In [31]:
l=[23,21,78,33,11]
l2=[]
for i in l:
    if(i%3==0):
        l2.append(i)
print(l2)

[21, 78, 33]

In [32]:
l=[23,21,78,33,11]
l2=[x for x in l if(x%3==0)]
l2

[21, 78, 33]

In [33]:
n=3
l=[[i*n+x for x in range(1,n+1)] for i in range(n)]
print(l)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [34]:
import itertools as it
l=[[1,2,3],[4,5],[6,7,8,9]]
l2=list(it.chain.from_iterable(l))
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]